<div class="programs__row programs-head programs-days" id="programs-days">
  <div class="programs-block">МСК <span class="programs-small">►</span></div>
  <div class="programs-block">
    <div class="programs-item">Пн</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Ср</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Чт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Пт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Сб</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вс</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">04:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">06:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">08:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
   <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">10:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">12:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">air update</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">14:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">16:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
   <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">18:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">19:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">22:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>

<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">00:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
   <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>

<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">01:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
   <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
</div>