<div class="col-md-6 formats__block">
  <h6 class="hear" data-lang="container-about-name"></h6>
  <blockquote>SECTOR Next — это музыка обману&shy;того поколе&shy;ния, выжив&shy;шего на облом&shy;ках культур&shy;ных фор&shy;маций социализ&shy;ма.
  </blockquote>
  <div class="formats-descr">
   Канал посвящён в первую очередь амери&shy;кан&shy;ской и евро&shy;пей&shy;ской музы&shy;каль&shy;ной индус&shy;трии. Для Запада 90-е стали про&shy;ры&shy;вом на новые уровни зву&shy;ча&shy;ния и высоты шоу-&shy;бизнеса. С паде&shy;нием СССР револю&shy;цион&shy;ные ритмы альтер&shy;натив&shy;ного рока, гранжа, бигбит и брит-&shy;поп просто сбра&shy;сы&shy;вали в кулуары все нацио&shy;наль&shy;ные музыкаль&shy;ные начина&shy;ния. 90-е годы в России — это период подра&shy;жа&shy;ния и копи&shy;ро&shy;вания успеш&shy;ных музыкаль&shy;ных проек&shy;тов Запада. Это время глобаль&shy;ного домини&shy;рования MTV и Pepsi. В эфире канала Next вы услы&shy;шите всю му&shy;зыку 90-х, — от Канады до Австр&shy;алии. Наша кол&shy;лекция обещает быть самой полной и разно&shy;образной. Сделайте и вы, в мире 90-х, уди&shy;ви&shy;тель&shy;ные музы&shy;каль&shy;ные откры&shy;тия...
  </div>
</div>
