<div class="programs__row programs-head programs-days" id="programs-days">
  <div class="programs-block">МСК <span class="programs-small">►</span></div>
  <div class="programs-block">
    <div class="programs-item">Пн</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Ср</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Чт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Пт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Сб</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вс</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">6:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">8:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">9:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">11:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">12:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">15:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">16:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">progressive music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">19:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">21:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">soundtrack, music non-stop</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">23:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>
  <div class="programs-block programs-block--highlighted">
    <div class="programs-item">
      DJ Kryptogen
    </div>
  </div>
  <div class="programs-block">
    <div class="programs-item">music non-stop</div>
  </div>

</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">0:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">3:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">ночной сектор</div>
  </div>
</div>