<div class="row row-nomargin">
  <div class="col-md-6 formats__block">
    <h6 class="hear">Что слушаем</h6>
    <blockquote>SECTOR Progressive ― буквально, целиком и пол&shy;ностью вби&shy;рает в себя само поня&shy;тие электрон&shy;ной музыки и всё, что связано с ней
    </blockquote>
    <div class="formats-descr">
      В эфире канала SECTOR Progressive  звучит много ред&shy;кого, эпич&shy;но&shy;го, мини&shy;малис&shy;тич&shy;ного, аку&shy;сти&shy;чес&shy;кого, экс&shy;пери&shy;мен&shy;таль&shy;ного и экстра&shy;ва&shy;ган&shy;тного мате&shy;риала. Боль&shy;шое внима&shy;ние уде&shy;ля&shy;ется музыке тради&shy;цион&shy;ной кельт&shy;ской, скан&shy;динав&shy;ской и рус&shy;ской. Представ&shy;лены рабо&shy;ты наибо&shy;лее ин&shy;терес&shy;ного жан&shy;ра «арт-&shy;рок». В лю&shy;бом слу&shy;чае, мы пос&shy;та&shy;ра&shy;лись охва&shy;тить макси&shy;мально широ&shy;кий спектр самого поня&shy;тия элек&shy;трон&shy;ной музыки, в том числе ― как гло&shy;баль&shy;ного явле&shy;ния. Также вы услышите музыку к фильмам и играм, близ&shy;ких к нашему радио своим смысло&shy;вым содер&shy;жанием. Спи&shy;сок музы&shy;каль&shy;ных произ&shy;ведений нашего радио посто&shy;ян&shy;но растёт. С каждым днём услы&shy;шать повтор&shy;но зву&shy;чащее произ&shy;ведение будет слож&shy;нее и слож&shy;нее.
    </div>
  </div>
  <div class="col-md-6 formats__block">
    <h6 class="how">Как слушать</h6>
    <blockquote>Интернет-радио можно слушать на любых програм&shy;мных и твёрдо&shy;тель&shy;ных про&shy;игры&shy;вате&shy;лях, имею&shy;щих выход в Интернет
    </blockquote>
    <div class="formats-descr">
      Без преувеличений можно сказать, что Sector radio явля&shy;ется пер&shy;вой полно&shy;цен&shy;ной Hi-Fi интер&shy;нет-&shy;радио стан&shy;цией,  транс&shy;ля&shy;ция кото&shy;рой осущес&shy;твляет&shy;ся с исполь&shy;зо&shy;ва&shy;нием исклю&shy;чи&shy;тельно фай&shy;лов без сжа&shy;тия (Lossless), таких, как напри&shy;мер Flac. <a href="/sector.m3u" class="formats-playlist" target="_blank">Загрузите</a> плей-лист прямо сейчас и открой&shy;те его в любом из име&shy;ющих&shy;ся у вас медиа-проигры&shy;ва&shy;те&shy;лей, с под&shy;держ&shy;кой пото&shy;ково&shy;го веща&shy;ния ― таких, как напри&shy;мер Foobar2000, Aimp или Winamp. Воспро&shy;изве&shy;дение также доступ&shy;но и на порта&shy;тив&shy;ных устрой&shy;ст&shy;вах. Для тех, кто в дороге, реко&shy;мен&shy;дуем под&shy;ключать&shy;ся к потоку Opus 56 Kbps. Оцените по-&shy;насто&shy;ящему высо&shy;чай&shy;шее качество звуча&shy;ния  нашего радио, где бы вы не нахо&shy;дились!
    </div>
  </div>
  <div class="col-md-6 formats__block">
    <h6 class="mp3">Что такое mp3</h6>
    <blockquote>То, на чём бази&shy;рует&shy;ся фор&shy;мат Mp3 ― это все&shy;воз&shy;мож&shy;ные приёмы по искус&shy;ствен&shy;ному насы&shy;щению звука
    </blockquote>
    <div class="formats-descr">
      Mp3 появил&shy;ся в 1994 году и был первым форма&shy;том, кото&shy;рый сделал цифро&shy;вой звук по-&shy;настоя&shy;щему доступ&shy;ным. Малень&shy;кий объём дан&shy;ных, хоро&shy;шее качес&shy;тво звука — неуже&shy;ли что-то может быть лучше? В раз&shy;ное время появ&shy;ля&shy;лись все&shy;возмож&shy;ные претен&shy;денты на его замену, однако чуда не про&shy;изошло: за всё время mp3 не только укре&shy;пил свои пози&shy;ции, но и стал первой ассо&shy;циа&shy;цией обыва&shy;теля, связан&shy;ной с цифро&shy;вым звуком. Но так ли хорош mp3? Помимо патен&shy;тных огра&shy;ни&shy;чений, к недо&shy;стат&shy;кам mp3 можно от&shy;нес&shy;ти далеко не луч&shy;шее качес&shy;тво по сов&shy;ремен&shy;ным мер&shy;кам, тех&shy;ничес&shy;кие огра&shy;ни&shy;че&shy;ния на коли&shy;чес&shy;тво кана&shy;лов и час&shy;тоту дискре&shy;тиза&shy;ции, изна&shy;чально плохо спроек&shy;тирован&shy;ную сис&shy;тему тегов, и т.д.
    </div>
  </div>
  <div class="col-md-6 formats__block">
    <h6 class="ogg">Почему лучше Ogg</h6>
    <blockquote>Оцените современный аудио&shy;формат Ogg Vorbis и убеди&shy;тесь в его непре&shy;взойдённом, кристал&shy;ьно чистом звучании
    </blockquote>
    <div class="formats-descr">
      Ogg Vorbis поддерживается на всех извес&shy;тных ныне платфор&shy;мах.  Дан&shy;ный фор&shy;мат явля&shy;ется свобод&shy;ным от па&shy;тентов стан&shy;дар&shy;том сжа&shy;тия звука, кото&shy;рый вышел летом, 2002 года. Он при&shy;над&shy;лежит к тому же типу форматов, что и mp3, ACC и wma, то есть к фор&shy;ма&shy;там сжатия с поте&shy;рями (Lossy). Психо&shy;акус&shy;тичес&shy;кая модель, исполь&shy;зуемая в Ogg Vorbis, по прин&shy;ципам дей&shy;ствия близка к mp3 и подоб&shy;ным, однако мате&shy;ма&shy;ти&shy;чес&shy;кая обра&shy;ботка и прак&shy;ти&shy;чес&shy;кая реа&shy;ли&shy;за&shy;ция этой модели в корне отлича&shy;ются, что позво&shy;лило авто&shy;рам объя&shy;вить свой фор&shy;мат совер&shy;шенно неза&shy;ви&shy;си&shy;мым от всех пред&shy;шес&shy;твен&shy;ников. Ogg Vorbis абсо&shy;лютно беспл&shy;атен, открыт и свобо&shy;ден от патентов. Возмож&shy;ность пото&shy;кового вещания была изна&shy;чаль&shy;но предус&shy;мотрена архи&shy;тек&shy;турой формата. 
    </div>
  </div>
</div>