<div class="columns padded">
  <div class="row">
    <div class="footer__about footer__cell col-md-8">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__creative">
            <img class="w100" src="/assets/images/svg/cc-logo.svg" alt="Creative commons" />
          </a>
        </div>
        <div translate="footer.license"><span id="connected"></span>
        </div>
      </div>
      <div>
        <div class="footer__image"></div>
        <strong>Ogg Vorbis</strong>
        <span translate="footer.ogg"></span>
        <br/>
        <span translate="footer.ogg_about"></span>
        <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
      </div>
    </div>

    <div class="col-md-9 footer__cell">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__xiph" href="http://www.xiph.org/" target="_blank">
            <img src="/assets/images/svg/xiph.svg" alt="xiph.org" />
          </a>
        </div>
        <div>
          <span translate="footer.vorbis"></span>
          <a class="underline" href="http://www.xiph.org/" target="_blank">www.xiph.org</a>
        </div>
      </div>
      <div class="footer__image">
        <a class="footer__foobar2000 no-decoration" href="http://www.foobar2000.ru/" target="_blank">
          <img src="/assets/images/svg/foobar2000.svg" alt="Foobar2000"/>
        </a>
        <a class="footer__link no-decoration"
           href="/downloads/foobar2000.exe"
           target="_blank"
           translate="footer.foobar.download"></a>
      </div>
      <div>
        <span translate="footer.foobar.descr"></span>
        <br/>
        <span translate="footer.foobar.about"></span>
        <a class="underline" href="http://www.foobar2000.ru/" target="_blank">www.foobar2000.ru</a>
      </div>
    </div>

    <div class="col-md-7 footer__cell text-right">
      <div class="footer__first footer__browsers">
        <div class="footer__image">
          <a href="http://browser.yandex.net/" target="_blank">
            <img class="footer__yabra" src="/assets/images/svg/yandex-2016.svg" alt="Яндекс.Браузер"/>
          </a>
          <img src="/assets/images/svg/html5.svg" alt="HTML5"/>
        </div>
        <div class="text-right footer__html5">
          <span translate="footer.html.top"></span>
          <br/>
          <span translate="footer.html.mid"></span>
          <br/>
          <span translate="footer.html.bot"></span>
        </div>
      </div>

      <div class="footer__bordered text-right">
        <a href="http://nevalink.ru/" target="_blank"><img src="/assets/images/svg/nevalink.svg" alt="Nevalink"/></a>
        <a href="http://iangorboun.ru/portfolio/work124.html" target="_blank"><img src="/assets/images/svg/ian.gorboun.svg" alt="IAN GORBOUN"/></a>
      </div>

      <div class="text-right">
        © 2012-<?php echo date("Y");?> SECTOR broadcasting<br/>
        <span translate="footer.copyright.rights"></span>
        <br/>
        <span translate="footer.copyright.design"></span>
        <br/>
        <span translate="footer.copyright.developer"></span>
        <br/>
        <span translate="footer.copyright.producer"></span>
        <br/>
        <span translate="footer.copyright.editor"></span>
        <br/>
        <span translate="footer.copyright.technical"></span>
        <br/>
        <a class="underline" href="http://nevalink.ru/" target="_blank">Невалинк™</a>
        <span translate="footer.copyright.provider"></span>
      </div>
    </div>
  </div>

</div>