<ul class="lang col-md-24 list-inline text-right">
  <li><a class="lang__icon active" href="/">RU</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">DE</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">GE</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">FR</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">IT</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">EN</a></li>
  <li><a class="lang__icon" href="javascript:void(0)">SP</a></li>
</ul>

<div class="logo col-md-24">
  <div class="logo__sector col-md-5 text-center">
    <a class="logo__sector-img" href="http://sectorradio.ru/">
      <img class="w100" src="assets/images/svg/sector-2016.svg" alt="SECTOR RADIO" />
    </a>
  </div>
  <div class="logo__slogan">
    <h2 class="logo__slogan-about">
      <span>Hi-Fi</span> интернет-радиостанция в форматах <span class="black">OGG Vorbis</span> <span class="lowercase">и</span> <span class="black">FLAC</span>
    </h2>
    <h1 class="logo__slogan-describe">
      <span class="black">Канал</span> прогрессивной электронной музыки
    </h1>
    <a href="javascript: void(0)" class="btn btn-channels no-decoration" id="menu-trigger" data-effect="st-effect-6">
      Другие каналы
    </a>
  </div>
</div>