<div class="programs__row programs-head programs-days" id="programs-days">
    <div class="programs-block">МСК <span class="programs-small">►</span></div>
    <div class="programs-block">
        <div class="programs-item" data-lang="monday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="tuesday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="wednesday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="thursday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="friday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="saturday"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="sunday"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">6:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">8:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">9:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">11:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">12:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">15:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">16:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_progressive_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">19:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">21:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_soundtrack_mns"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">23:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>
    <div class="programs-block programs-block--highlighted">
        <div class="programs-item">
            DJ Kryptogen
        </div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_mns"></div>
    </div>

</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">0:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
</div>


<div class="programs__row">
    <div class="programs-block">
        <div class="programs-head">3:00</div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
    <div class="programs-block">
        <div class="programs-item" data-lang="reused_night_sector"></div>
    </div>
</div>