<div class="columns padded">
  <div class="row">
    <div class="footer__about footer__cell col-md-8">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__creative">
            <img class="w100" src="../assets/images/svg/cc-logo.svg" alt="Creative commons" />
          </a>
        </div>
        <div>
          Также в линейном эфире используется материал, который может быть воспроизведён в любых средствах массовой информации, на серверах сети Интернет или на любых иных носителях без каких‑либо ограничений по объёму и срокам публикации.
        </div>
      </div>
      <div>
        <div class="footer__image"></div>
        <strong>Ogg Vorbis</strong> ―  это мультимедийный контейнер, представляющий собой  семейство форматов, разработанных в лаборатории Xiph.org. Ogg Vorbis является открытым и сошершенно бесплатным форматом для использования в любых целях. Этот формат, по сути, является линейно-ориентированным контейнером, то есть он может быть записан и прочитан за одино прочтение вычислительной машиной, что делает работу с этим форматом удобной при трансляции потокового интернет-радиовещания.
        <br/>
        Подробности: <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
      </div>
    </div>

    <div class="col-md-9 footer__cell">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__xiph" href="http://www.xiph.org/" target="_blank">
            <img src="../assets/images/svg/xiph.svg" alt="xiph.org" />
          </a>
        </div>
        <div>
          Ogg Vorbis представляет собой полностью открытый, свободный от патентов, профессиональный кодировщик для сжатия аудио-потока, использующий все преимущества Open Source.
          <br/>
          Подробности: <a class="underline" href="http://www.xiph.org/" target="_blank">www.xiph.org</a>
        </div>
      </div>
      <div class="footer__image">
        <a class="footer__foobar2000 no-decoration" href="http://www.foobar2000.ru/" target="_blank">
          <img src="../assets/images/svg/foobar2000.svg" alt="Foobar2000"/>
        </a>
        <a class="footer__link no-decoration" href="/downloads/foobar2000.exe" target="_blank">Скачать Foobar2000</a>
      </div>
      <div>
        Foobar2000 на сегодняший день, является самым передовым и при этом бесплатным аудиопроигрывателем для IBM-совместимых платформ, под управлением ОС семейства Microsoft © Windows и Linux. Некоторые из основных особенностей плеера включают в себя полную поддержку кодировки Unicode, поддержку технологии нормализации звука ReplayGain, а также встроенную поддержку ряда как популярных, так и редких звуковых форматов. Проигрыватель также имеет широкую возможность программного расширения.
        <br/>
        Подробности: <a class="underline" href="http://www.foobar2000.ru/" target="_blank">www.foobar2000.ru</a>
      </div>
    </div>

    <div class="col-md-7 footer__cell text-right">
      <div class="footer__first footer__browsers">
        <div class="footer__image">
          <a href="http://browser.yandex.net/" target="_blank">
            <img class="footer__yabra" src="../assets/images/svg/yandex-2016.svg" alt="Яндекс.Браузер"/>
          </a>
          <img src="../assets/images/svg/html5.svg" alt="HTML5"/>
        </div>
        <div class="text-right footer__html5">
          Сайт свёрстан в стандарте HTML5 <br/>
          Для качественного отображения<br/>
          рекоммендуем Яндекс.Браузер
        </div>
      </div>

      <div class="footer__bordered text-right">
        <a href="http://nevalink.ru/" target="_blank"><img src="../assets/images/svg/nevalink.svg" alt="Nevalink"/></a>
        <a href="http://iangorboun.ru/portfolio/work124.html" target="_blank"><img src="../assets/images/svg/ian.gorboun.svg" alt="IAN GORBOUN"/></a>
      </div>

      <div class="text-right">
        © 2012-<?php echo date("Y");?> Sector radio™ ― Космическая радиостанция<br/>
        Публичный вебсайт. Все права сохранены<br/>
        © 2013 Ян Горбун ― идея, дизайн интерфейс<br/>
        © 2016 Виктор Бойко ― разработка сайта<br/>
        Максим Чепкасов ― экслюзивный продюссер<br/>
        Михаил Эксалот ― выпускающий редактор<br/>
        Михаил Андреев ― техническое обеспечение<br/>
        <a class="underline" href="http://nevalink.ru/" target="_blank">Невалинк</a>™ ― размещение радиосервера
      </div>
    </div>
  </div>

</div>