<div class="programs__row programs-head programs-days" id="programs-days">
  <div class="programs-block">МСК <span class="programs-small">►</span></div>
  <div class="programs-block">
    <div class="programs-item">Пн</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Ср</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Чт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Пт</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Сб</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">Вс</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">6:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">час трекерной музыки</div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">11:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block programs-block--custom">
    <div class="programs-item">
      <div class="programs-block--custom-name"><div class="programs-block--custom-title">
        авторская программа
      </div></div>
      <div class="programs-block--custom-descr">
        повтор
      </div>
    </div>
  </div>
  <!--<div class="programs-block programs-block&#45;&#45;highlighted">-->
    <!--<div class="programs-item">-->
      <!--авторская программа (повтор)-->
    <!--</div>-->
  <!--</div>-->
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">13:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">14:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">15:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">16:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">17:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">18:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">19:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>


<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">21:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block programs-block--highlighted">
    <div class="programs-item">
      авторская программа
    </div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>

<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">23:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
  <div class="programs-block">
    <div class="programs-item" data-lang="reused_mns"></div>
  </div>
</div>

<div class="programs__row">
  <div class="programs-block">
    <div class="programs-head">01:00</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
  <div class="programs-block">
    <div class="programs-item">night lounge</div>
  </div>
</div>