<div class="col-md-6 formats__block">
  <h6 class="hear" data-lang="container-about-name"></h6>
  <blockquote>SECTOR Space своим репер&shy;туаром объе&shy;ди&shy;ня&shy;ет такие пон&shy;ятия элек&shy;трон&shy;ной музыки как «клас&shy;сика» и «тради&shy;цион&shy;ность».
  </blockquote>
  <div class="formats-descr">
    В эфире канала Space звучит музыка тра&shy;ди&shy;цион&shy;ных элек&shy;трон&shy;ных направ&shy;лений: в первую очередь «Берлин&shy;ская школа», «Эмбиент», «Трекер&shy;ная» музыка – клас&shy;сика атмос&shy;фер&shy;ных тече&shy;ний, произве&shy;де&shy;ния элек&shy;трон&shy;но-инстру&shy;мен&shy;тальных ансамблей совет&shy;ского пери&shy;ода и тво&shy;ре&shy;ния рос&shy;сий&shy;ских «электрон&shy;щиков» современ&shy;ности. Также на канале выхо&shy;дят автор&shy;ские програм&shy;мы Михаила Экса&shy;лота с освеще&shy;нием электрон&shy;но-&shy;кос&shy;мичес&shy;ких тем, нераз&shy;рывно связан&shy;ных с музыкой и фило&shy;со&shy;фией. Рас&shy;сма&shy;три&shy;вае&shy;тся исто&shy;рия и устрой&shy;ство той или иной сис&shy;темы. Музыкаль&shy;ная кол&shy;лек&shy;ция SECTOR радио постоян&shy;но попол&shy;няет&shy;ся и явля&shy;ется круп&shy;нейшей в мире. У нас вы услы&shy;шите мно&shy;жес&shy;тво ред&shy;ких и даже не издан&shy;ных мате&shy;риалов.
  </div>
</div>
