<div class="columns padded">
  <div class="row">
    <div class="footer__about footer__cell col-md-8">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__creative">
            <img class="w100" src="/assets/images/svg/cc-logo.svg" alt="Creative commons" />
          </a>
        </div>
        <div>
          Также в линейном эфире используется материал, который может быть воспроизведён в любых средствах массовой информации, на серверах сети Интернет или на любых иных носителях без каких‑либо ограничений по объёму и срокам публикации.
          ID000<span id="connected"></span>
        </div>
      </div>
      <div>
        <div class="footer__image"></div>
        <strong>Ogg Vorbis</strong> ―  это мультимедийный контейнер, представляющий собой  семейство форматов, разработанных в лаборатории Xiph.org. Ogg Vorbis является открытым и сошершенно бесплатным форматом для использования в любых целях. Этот формат, по сути, является линейно-ориентированным контейнером, то есть он может быть записан и прочитан за одино прочтение вычислительной машиной, что делает работу с этим форматом удобной при трансляции потокового интернет-радиовещания. Стоит отметить постоянно идущую работу над совершенствованием этого звукового кодировщика, которая ведётся двумя независимыми центрами.
        <br/>
        Официальный сайт русского сообщества Ogg Vorbis: <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
      </div>
    </div>

    <div class="col-md-9 footer__cell">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__xiph" href="http://www.xiph.org/" target="_blank">
            <img src="/assets/images/svg/xiph.svg" alt="xiph.org" />
          </a>
        </div>
        <div>
          The xiph представляет собой мозговой центр по разработке полностью открытых (свободных от патентов) профессиональных звуковых кодировщиков для сжатия и оптимизации аудио-потока, с использованием всех преимуществ философии "open source products". Подробности (на английском языке): <a class="underline" href="http://www.xiph.org/" target="_blank">www.xiph.org</a>
        </div>
      </div>
      <div class="footer__image">
        <a class="footer__foobar2000 no-decoration" href="http://www.foobar2000.ru/" target="_blank">
          <img src="/assets/images/svg/foobar2000.svg" alt="Foobar2000"/>
        </a>
        <a class="footer__link no-decoration" href="/downloads/foobar2000.exe" target="_blank">Скачать Foobar2000</a>
      </div>
      <div>
        Для прослушивания радио «Сектор», мы рекомендуем Foobar2000 ― самый современный и при этом бесплатный, на сегодняший день, аудиопроигрыватель для IBM-совместимых платформ, под управлением ОС семейства Microsoft © Windows и Linux. Некоторые из основных особенностей плеера включают в себя полную поддержку кодировки Unicode, поддержку технологии нормализации звука ReplayGain, поддержку потокового вещания, изменение внешенего вида, а также встроенную поддержку ряда как популярных, так и редких звуковых (в том числе многоканальных) форматов. Проигрыватель также имеет широкую возможность программного расширения и модернизации.
        <br/>
        Официальный сайт русского сообщества Foobar2000: <a class="underline" href="http://www.foobar2000.ru/" target="_blank">www.foobar2000.ru</a>
      </div>
    </div>

    <div class="col-md-7 footer__cell text-right">
      <div class="footer__first footer__browsers">
        <div class="footer__image">
          <a href="http://browser.yandex.net/" target="_blank">
            <img class="footer__yabra" src="/assets/images/svg/yandex-2016.svg" alt="Яндекс.Браузер"/>
          </a>
          <img src="/assets/images/svg/html5.svg" alt="HTML5"/>
        </div>
        <div class="text-right footer__html5">
          Сайт «Сектор радио» свёрстан в современном стандарте HTML5, с поддержкой потокового вещания в окне обозревателя. Для качественного отображения содержимого и работы всех компонентов страницы рекоммендуем «Яндекс.Браузер»
        </div>
      </div>

      <div class="footer__bordered text-right">
        <a href="http://nevalink.ru/" target="_blank"><img src="/assets/images/svg/nevalink.svg" alt="Nevalink"/></a>
        <a href="http://iangorboun.ru" target="_blank"><img src="/assets/images/svg/ian.gorboun.svg" alt="IAN GORBOUN"/></a>
      </div>

      <div class="text-right"><br/>
        © 2012-<?php echo date("Y");?> SECTOR broadcasting<br/>
		Обратная связь: info@sectorradio.ru<br/>
        Максим Чепкасов ― экслюзивный продюссер<br/>
		Михаил Эксалот ― выпускающий редактор<br/>
		Михаил Андреев ― тех. обеспечение<br/>
	    © 2015 Ian Gorboun™ ― граф. оформление<br/>
        © 2015 Виктор Бойко ― разработка сайта<br/>
        <a class="underline" href="http://nevalink.ru/" target="_blank">Невалинк</a>™ ― техн. сопровождение<br/>
		Публичный вебсайт. Все права сохранены<br/>
		Для пользователей старше 14 лет
		
      </div>
    </div>
  </div>

</div>

<?php include('./footer.html'); ?>
