<div class="channel">
  <ul class="channel__container" id="channel">
    <li class="channel__container-element">
      <a class="channel__container-element-link" href="/">Progressive</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link" href="/space/">Space</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link inactive">Classical</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link inactive">80s</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link" href="/90/">90s</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link inactive">00s</a>
    </li>
    <li class="channel__container-element">
      <a class="channel__container-element-link inactive">10s</a>
    </li>
  </ul>
</div>