<h5 class="sidebar-title">Каналы</h5>
<a href="/" class="channels-item">
    <div class="channels-item--head">
        <div class="channels-item--head-brand">SECTOR</div>
        <div class="channels-item--head-name">Progressive</div>
    </div>
    <div class="channels-item--description" data-lang="distribution1"></div>
</a>
<a href="/space/" class="channels-item">
    <div class="channels-item--head">
        <div class="channels-item--head-brand">SECTOR</div>
        <div class="channels-item--head-name">Space</div>
    </div>
    <div class="channels-item--description" data-lang="distribution2"></div>
</a>
<a href="/90/" class="channels-item">
    <div class="channels-item--head">
        <div class="channels-item--head-brand">SECTOR</div>
        <div class="channels-item--head-name no-transform">90s</div>
        <!--<div class="channels-item&#45;&#45;head-label">Скоро открытие!</div>-->
    </div>
    <div class="channels-item--description" data-lang="distribution3"></div>
</a>
<a class="channels-item disabled">
    <div class="channels-item--head">
        <div class="channels-item--head-brand">SECTOR</div>
        <div class="channels-item--head-name">Classical</div>
        <div class="channels-item--head-label">Скоро открытие!</div>
    </div>
    <div class="channels-item--description" data-lang="distribution4"></div>
</a>