<h5 class="sidebar-title"
    translate="sidebar.title"></h5>
<a ui-sref="main" class="channels-item">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Progressive</div>
  </div>
  <div class="channels-item--description">
    <span translate="sidebar.progressive.top"></span>
    <br/>
    <span translate="sidebar.progressive.bot"></span>
  </div>
</a>
<a ui-sref="space" class="channels-item">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Space</div>
  </div>
  <div class="channels-item--description">
    <span translate="sidebar.space.top"></span>
    <br/>
    <span translate="sidebar.space.bottom"></span>
  </div>
</a>
<a ui-sref="90" class="channels-item">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name no-transform">90s</div>
    <!--<div class="channels-item&#45;&#45;head-label">Скоро открытие!</div>-->
  </div>
  <div class="channels-item--description">
    <span translate="sidebar.ninetieth.top"></span>
    <br/>
    <span translate="sidebar.ninetieth.bot"></span>
  </div>
</a>
<a class="channels-item disabled">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Classical</div>
    <div class="channels-item--head-label"
         translate="sidebar.status"></div>
  </div>
  <div class="channels-item--description">
    <span translate="sidebar.classical.top"></span>
    <br/>
    <span translate="sidebar.classical.bot"></span>
  </div>
</a>