<div class="equalizer">
  <div class="colname" data-lang="player-frequency"></div>
  <ul class="equalizer__container" id="equalizer">
    <li class="equalizer__container-element size100" data-size="100"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>0.2к</span></li>
    <li class="equalizer__container-element size90" data-size="90"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>1к</span></li>
    <li class="equalizer__container-element size70" data-size="70"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>3к</span></li>
    <li class="equalizer__container-element size60" data-size="60"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>5к</span></li>
    <li class="equalizer__container-element size70" data-size="70"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>6к</span></li>
    <li class="equalizer__container-element size70" data-size="70"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>8к</span></li>
    <li class="equalizer__container-element size60" data-size="60"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>9к</span></li>
    <li class="equalizer__container-element size80" data-size="80"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>10к</span></li>
    <li class="equalizer__container-element size60" data-size="60"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>11к</span></li>
    <li class="equalizer__container-element size50" data-size="50"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>12к</span></li>
    <li class="equalizer__container-element size60 mp3" data-stop="mp3" data-size="60"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>13к</span></li>
    <li class="equalizer__container-element size70" data-size="70"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>15к</span></li>
    <li class="equalizer__container-element size60 56k" data-stop="56" data-size="60"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>16к</span></li>
    <li class="equalizer__container-element size80" data-size="80"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>17к</span></li>
    <li class="equalizer__container-element size80 160k" data-stop="160" data-size="80"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>18к</span></li>
    <li class="equalizer__container-element size100 256k disabled" data-stop="256" data-size="100"><div><b></b></div><a href="javascript:void(0)"><div></div></a><span>20к</span></li>
  </ul>
</div>