<div class="columns padded footer__bottom">
  <div class="row text-center">
    <div class="so">
      <a href="https://vk.com/sectorradio" class="vk tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <span class="tip__footer-text">Официальная группа Вконтакте</span>
        </span>
      </a>
      <a href="https://www.google.com/+SectorradioRu" class="gl tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <span class="tip__footer-text">Официальная страница на G+</span>
        </span>
      </a>
      <a href="https://www.facebook.com/sectorradio/" class="fb tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <span class="tip__footer-text">Официальная страница на Facebook</span>
        </span></a>
      <a href="https://web.telegram.org/#/im?p=@sectorradio" class="tg tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <span class="tip__footer-text">Рупор радиостанции в Telegram</span>
        </span></a>
    </div>
    <?php /*
    <div class="apps text-right">
      <a href="https://play.google.com/store/apps/details?id=ru.sectorradio" target="_blank">
        приложение «Сектор радио» <span>на Google Play™</span>
      </a>
    </div>
    */ ?>
  </div>
</div>
