<div class="columns padded">
    <div class="row">
        <div class="footer__about footer__cell col-md-8">
            <div class="footer__first">
                <div class="footer__image">
                    <a class="footer__creative">
                        <img class="w100" src="/assets/images/svg/cc-logo.svg" alt="Creative commons"/>
                    </a>
                </div>
                <div data-lang="footer-n1-herial">
                    <span id="connected"></span>
                </div>
            </div>

            <div class="footer__second" data-lang="footer-n1-bis">
                <div class="footer__image"></div>
                <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
            </div>

            <div data-lang="footer-n1-s">
                <div class="footer__image">
                    <a>
                        <img class="footer__opus" src="/assets/images/svg/opus-logo.svg" alt="Opus"/>
                    </a>
                </div>
                <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
            </div>
        </div>

        <div class="col-md-9 footer__about footer__cell">
            <div class="footer__first">
                <div class="footer__image">
                    <a class="footer__xiph" href="http://www.xiph.org/" target="_blank">
                        <img src="/assets/images/svg/xiph.svg" alt="xiph.org"/>
                    </a>
                </div>
                <div data-lang="footer-n2-xiph">
                    Подробности: <a class="underline" href="http://www.xiph.org/" target="_blank">www.xiph.org</a>
                </div>
            </div>

            <div class="footer__second">
                <div class="footer__image">
                    <a class="footer__foobar2000 no-decoration" href="http://www.foobar2000.ru/" target="_blank">
                        <img src="/assets/images/svg/foobar2000.svg" alt="Foobar2000"/>
                    </a>
                    <a class="footer__link no-decoration" href="/downloads/foobar2000.exe" target="_blank">Скачать
                        Foobar2000</a>
                </div>
                <div data-lang="footer-n2-foobar">
                    <a class="underline" href="http://www.foobar2000.ru/"
                       target="_blank">www.foobar2000.ru</a>
                </div>
            </div>

            <div class="footer__image">
                <a>
                    <img class="footer__dolby" src="/assets/images/svg/dolby-logo.svg" alt="Dolby Surround"/>
                </a>
            </div>
            <div data-lang="footer-n2-dolby"></div>
        </div>

        <div class="col-md-7 footer__cell text-right">
            <div class="footer__first footer__browsers">
                <div class="footer__image">
                    <a href="http://browser.yandex.net/" target="_blank">
                        <img class="footer__yabra" src="/assets/images/svg/yandex-2016.svg" alt="Яндекс.Браузер"/>
                    </a>
                    <img src="/assets/images/svg/html5.svg" alt="HTML5"/>
                </div>
                <div class="text-right footer__html5" data-lang="footer-n3-standart"></div>
            </div>

            <div class="footer__bordered text-right">
                <a href="http://nevalink.net/" target="_blank"><img src="/assets/images/svg/nevalink-logo-2018.svg"
                                                                    alt="Nevalink" width="120"/></a>
                <a href="https://www.linkedin.com/in/ian-gorboun-39277629/" target="_blank"><img
                        src="/assets/images/svg/ian.gorboun.svg" alt="IAN GORBOUN"/></a>
            </div>

            <div class="text-right"><br/>
                © 2012-<?php echo date("Y");?> SECTOR broadcasting<br/>
                Публичный вебсайт. Все права сохранены<br/>
                <br/>
                Обратная связь: info@sectorradio.ru<br/>
                Максим Чепкасов ― экслюзивный продюссер<br/>
                Михаил Эксалот ― выпускающий редактор<br/>
                Михаил Андреев ― тех. обеспечение<br/>
                © 2015 Ian Gorboun™ ― граф. оформление<br/>
                © 2017 Виктор Бойко ― разработка сайта<br/>
                <a class="underline" href="http://nevalink.ru/" target="_blank">Невалинк</a>™ ― техн. сопровождение<br/>
                ООО «Дипломат» ― юридическое сопровождение<br/>
                Для лиц старше 14 лет
            </div>
        </div>
    </div>

</div>

<div class="columns padded footer__bottom">
    <div class="row">
        <div class="so">
            <a href="https://vk.com/sectorradio" class="vk tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Официальная группа Вконтакте</span>-->
        </span>
            </a>
            <a href="https://www.google.com/+SectorradioRu" class="gl tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Официальная страница на G+</span>-->
        </span>
            </a>
            <a href="https://www.facebook.com/sectorradio/" class="fb tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Официальная страница на Facebook</span>-->
        </span></a>
            <a href="https://web.telegram.org/#/im?p=@sectorradio" class="tg tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Рупор радиостанции в Telegram</span>-->
        </span></a>
        </div>
        <?php /*
    <div class="apps text-right">
        <a href="https://play.google.com/store/apps/details?id=ru.sectorradio" target="_blank">
            приложение «Сектор радио» <span>на Google Play™</span>
        </a>
    </div>
    */ ?>
</div>
</div>
