<div class="columns padded">
  <div class="row">
    <div class="footer__about footer__cell col-md-8">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__creative">
            <img class="w100" src="/assets/images/svg/cc-logo.svg" alt="Creative commons" />
          </a>
        </div>
        <div>
          В линейном эфире используется материал, который мо&shy;жет быть вос&shy;произ&shy;ведён
          в лю&shy;бых сред&shy;ствах мас&shy;со&shy;вой ин&shy;фор&shy;мации, на сер&shy;ве&shy;рах се&shy;ти Ин&shy;тернет или на
          лю&shy;бых иных носи&shy;телях без каких‑либо огра&shy;ниче&shy;ний по объёму и сро&shy;кам публи&shy;кации.
          Класс идентификатора &mdash; ISOR-0<span id="connected"></span>
        </div>
      </div>

      <div class="footer__second">
        <div class="footer__image"></div>
        <strong>Ogg Vorbis</strong> ― это мультимедийный кон&shy;тейнер, представляющий со&shy;бой
        се&shy;мейство фор&shy;матов, раз&shy;работанных в лабо&shy;ратории Xiph.org. Ogg Vorbis
        явля&shy;ется от&shy;крытым и совер&shy;шенно бес&shy;платным фор&shy;матом для исполь&shy;зования в
        любых целях. Этот формат, по сути, яв&shy;ляется ли&shy;нейно-ориенти&shy;рованным
        кон&shy;тейнером, то есть он может быть за&shy;писан и про&shy;читан за одно прочтение
        вычис&shy;лительной ма&shy;шиной, что делает работу с этим фор&shy;матом удобной при
        транс&shy;ляции по&shy;токового интернет-радио&shy;вещания.
        <br/>
        Подробности: <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
      </div>

      <div>
        <div class="footer__image">
          <a>
            <img class="footer__opus" src="/assets/images/svg/opus-logo.svg" alt="Opus" />
          </a>
        </div>
        Sector radio также использует для кодиро&shy;вания ка&shy;налов на 56 кБит/сек
        коди&shy;ровщик Opus, ко&shy;торый явля&shy;ется совер&shy;шенно откры&shy;тым, бес&shy;платным и
        универ&shy;сальным про&shy;дуктом. Opus не имеет себе рав&shy;ных для коди&shy;рования речи, а также
        пере&shy;дачи му&shy;зыки через Интер&shy;нет на низких скорос&shy;тях. Между&shy;народной
        коман&shy;дой инже&shy;неров по стандар&shy;тизации интер&shy;нет-прото&shy;колов (IETF), Mo&shy;zilla Cor&shy;poration
        коди&shy;ровщик Opus принят в ка&shy;честве стан&shy;дартного и серти&shy;фицированного
        продукта за ин&shy;дексом RFC 6716.
        <br/>
        Подробности: <a class="underline" href="http://www.vorbis.org.ru" target="_blank">www.vorbis.org.ru</a>
      </div>
    </div>

    <div class="col-md-9 footer__about footer__cell">
      <div class="footer__first">
        <div class="footer__image">
          <a class="footer__xiph" href="http://www.xiph.org/" target="_blank">
            <img src="/assets/images/svg/xiph.svg" alt="xiph.org" />
          </a>
        </div>
        <div>
          Ogg Vorbis представляет собой пол&shy;ностью отк&shy;рытый, сво&shy;бодный от па&shy;тентов,
          профес&shy;сиональный коди&shy;ровщик для сжатия аудио-потока, исполь&shy;зующий все
          преи&shy;мущества Open Source.
          <br/>
          Подробности: <a class="underline" href="http://www.xiph.org/" target="_blank">www.xiph.org</a>
        </div>
      </div>

      <div class="footer__second">
        <div class="footer__image">
          <a class="footer__foobar2000 no-decoration" href="http://www.foobar2000.ru/" target="_blank">
            <img src="/assets/images/svg/foobar2000.svg" alt="Foobar2000"/>
          </a>
          <a class="footer__link no-decoration" href="/downloads/foobar2000.exe" target="_blank">Скачать Foobar2000</a>
        </div>
        <div>
          Foobar2000 на сегодняшний день является самым пере&shy;довым и при этом
          бес&shy;платным аудио&shy;проигры&shy;вателем для IBM-сов&shy;местимых плат&shy;форм, под
          управ&shy;лением ОС семей&shy;ства Microsoft &copy;Windows и Linux. Неко&shy;торые из
          основ&shy;ных особен&shy;ностей плеера вклю&shy;чают в себя пол&shy;ную под&shy;держку коди&shy;ровки
          Unicode, под&shy;держку техно&shy;логии норма&shy;лизации звука ReplayGain, а также
          встроен&shy;ную под&shy;держку ряда как попу&shy;лярных, так и ред&shy;ких звуко&shy;вых фор&shy;матов.
          Проигры&shy;ватель также имеет широ&shy;кую воз&shy;можность програм&shy;много рас&shy;ширения.
          <br/>
          Подробности: <a class="underline" href="http://www.foobar2000.ru/" target="_blank">www.foobar2000.ru</a>
        </div>
      </div>

      <div class="footer__image">
        <a>
          <img class="footer__dolby" src="/assets/images/svg/dolby-logo.svg" alt="Dolby Surround" />
        </a>
      </div>
      <div>
        На всех кана&shy;лах нашей радио&shy;станции звучат также уни&shy;кальные за&shy;писи объём&shy;ного зву&shy;чания, соз&shy;данные по техно&shy;логии ком&shy;пании Dolby Lab™, а также сторон&shy;ними производи&shy;телями имити&shy;рующих сред. Такие записи имеют соотв. марки&shy;ровку 3D-sound и Dolby surround. При прослу&shy;шивании радио «Сектор», в наз&shy;ваниях до&shy;рожек, вы увидите соответ&shy;ствующую по&shy;метку. Прослу&shy;шивание таких доро&shy;жек гаранти&shy;рует эффект пол&shy;ного погру&shy;жения в иное зву&shy;ковое простран&shy;ство. Логотип Dolby surround явля&shy;ется зареги&shy;стри&shy;рован&shy;ным товар&shy;ным знаком.
      </div>
    </div>

    <div class="col-md-7 footer__cell text-right">
      <div class="footer__first footer__browsers">
        <div class="footer__image">
          <a href="http://browser.yandex.net/" target="_blank">
            <img class="footer__yabra" src="/assets/images/svg/yandex-2016.svg" alt="Яндекс.Браузер"/>
          </a>
          <img src="/assets/images/svg/html5.svg" alt="HTML5"/>
        </div>
        <div class="text-right footer__html5">
          Сайт «Сектор радио» свёрстан в современном
          стандарте HTML5, с поддержкой потокового вещания в
          окне обозревателя. Для качественного отображения
          содержимого и работы всех компонентов страницы
          рекомендуем «Яндекс.Браузер»
        </div>
      </div>

      <div class="footer__bordered text-right">
        <a href="http://nevalink.net/" target="_blank"><img src="/assets/images/svg/nevalink-logo-2018.svg" alt="Nevalink" width="120" /></a>
        <a href="https://www.linkedin.com/in/ian-gorboun-39277629/" target="_blank"><img src="/assets/images/svg/ian.gorboun.svg" alt="IAN GORBOUN"/></a>
      </div>

      <div class="text-right"><br/>
        © 2012-<?php echo date("Y");?> SECTOR broadcasting<br/>
        Публичный вебсайт. Все права сохранены<br/>
        <br/>
        Обратная связь: info@sectorradio.ru<br/>
        Максим Чепкасов ― экслюзивный продюссер<br/>
        Михаил Эксалот ― выпускающий редактор<br/>
        Михаил Андреев ― тех. обеспечение<br/>
        © 2015 Ian Gorboun™ ― граф. оформление<br/>
        © 2017 Виктор Бойко ― разработка сайта<br/>
        <a class="underline" href="http://nevalink.ru/" target="_blank">Невалинк</a>™ ― техн. сопровождение<br/>
		ООО «Дипломат» ― юридическое сопровождение<br/>
		Для лиц старше 14 лет
      </div>
    </div>
  </div>

</div>

<div class="columns padded footer__bottom">
  <div class="row">
    <div class="so">
      <a href="https://vk.com/sectorradio" class="vk tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Официальная группа Вконтакте</span>-->
        </span>
      </a>
      <a href="https://www.facebook.com/sectorradio/" class="fb tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Официальная страница на Facebook</span>-->
        </span></a>
      <a href="https://web.telegram.org/#/im?p=@sectorradio" class="tg tip__footer so__link" target="_blank">
        <span class="tip__footer-content clearfix">
          <!--<span class="tip__footer-text">Рупор радиостанции в Telegram</span>-->
        </span></a>
    </div>
    <div class="apps text-right">
      <a href="https://play.google.com/store/apps/details?id=radio.sector" target="_blank">
        приложение «Сектор радио» <span>на Google Play™</span>
      </a>
    </div>
  </div>
</div>
