<div class="col-md-6 formats__block">
    <h6 class="how" data-lang="container-howto-name"></h6>
    <blockquote data-lang="container-howto-quote"></blockquote>
    <div class="formats-descr" data-lang="container-howto-text"></div>
</div>
<div class="col-md-6 formats__block">
    <h6 class="mp3" data-lang="container-mp3-name"></h6>
    <blockquote data-lang="container-mp3-quote"></blockquote>
    <div class="formats-descr" data-lang="container-mp3-text"></div>
</div>
<div class="col-md-6 formats__block">
    <h6 class="ogg" data-lang="container-ogg-name"></h6>
    <blockquote data-lang="container-ogg-quote"></blockquote>
    <div class="formats-descr" data-lang="container-ogg-text"></div>
</div>