<?php include('language.html'); ?>
<div class="logo col-md-24">
  <div class="logo__sector col-md-5 text-center">
    <a class="logo__sector-img" href="http://sectorradio.ru/">
      <img class="w100" src="/assets/images/svg/sector-2016.svg" alt="SECTOR RADIO" />
    </a>
  </div>
  <div class="logo__slogan">
    <h2 class="logo__slogan-about" data-lang="head"></h2>
    <?php include('channel.html'); ?>
    <!--<h1 class="logo__slogan-describe">
      <?= $channelName ?>
    </h1>-->
  </div>
</div>