<ul class="lang col-md-24 list-inline text-right">
    <li><a class="lang__icon active" href="/">RU</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">DE</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">GE</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">FR</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">IT</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">EN</a></li>
    <li><a class="lang__icon" href="javascript:void(0)">SP</a></li>
</ul>
