<div class="menu__list">
  <div class="row">
    <ul class="list-inline" id="tabs">
      <?php $useSmall = strstr($_SERVER['REQUEST_URI'], '/90/') || strstr($_SERVER['REQUEST_URI'], '/nota/'); ?>
      <?php
        /*
        $useSmall = true;
        */
      ?>
      <?php if ( !$useSmall ): ?>
        <li class="menu__list-item active">
          <a href="javascript:void(0)" class="menu__list-link">Ближайшее событие</a>
        </li>
      <?php endif; ?>
      <li class="menu__list-item <?= $useSmall ? 'active' : '' ?>">
        <a href="javascript:void(0)" class="menu__list-link">
          <?= !$useSmall ? 'Эфирная сетка' : 'Наше всё' ?>
        </a>
      </li>
      <?php if ( !$useSmall ): ?>
        <li class="menu__list-item">
          <a href="javascript:void(0)" class="menu__list-link">Музыкантам</a>
        </li>
      <?php endif; ?>
    </ul>
  </div>
</div>