<?php

  error_reporting(0);

  $showLoader = false;
  if ( !$_SERVER["HTTP_REFERER"] || !strstr($_SERVER["HTTP_REFERER"], $_SERVER["HTTP_HOST"]) ):
    $showLoader = true;

?>

  <div class="preloader">
    <img class="preloader__logo" src="/assets/images/svg/sector-2016.svg" alt="SECTOR RADIO" />
    <div class="preloader__loader" >Предстартовая подготовка ...</div>
    <div class="preloader__footer">&copy; 2012-<?php echo date("Y");?> Sector broadcasting &mdash; некоммерческая организация. Публичный сайт. Все права сохранены.</div>
  </div>

<?php
  endif;
?>