@font-face
  font-family: 'pragmaticalightclight'
  src: url("../fonts/pragmatiga.eot")
  src: url("../fonts/pragmatiga.eot?#iefix") format("embedded-opentype"), url("../fonts/pragmatiga.woff") format("woff"), url("../fonts/pragmatiga.ttf") format("truetype"), url("../fonts/pragmatiga.svg#pragmaticalightclight") format("svg")
  font-weight: normal
  font-style: normal
