.header
  padding-top: 85px

.logo
  color: #fff
  margin-bottom: 50px
  height 158px

  &__sector
    &-img
      display inline-block
      margin-top: 12px
      margin-left 31%
      width 70px

  &__slogan
    padding-top: 34px
    padding-left: 70px
    float: left
    width: 78%
    &-about,
    &-describe
      font-weight: lighter
      text-transform: uppercase
      margin: 0
      font-size: 32px
      line-height: 100%
    &-about
      padding: 0
      line-height: 37px
      > span
        text-transform: none
    .black
      color: rgba(0, 0, 0, 0.9)

.lang
  margin-bottom 25px
  &__icon
    cursor default
    size 30px 30px
    margin-left: 0
    margin-right: 7px
    background-color: rgba(255, 255, 255, 0.18)
    color rgba(0, 0, 0, 0.18)
    transition: background 0.2s ease 0s, color 0.2s ease 0s
    border-radius: 50%
    position: relative
    text-align: center
    z-index: 1
    display: inline-block
    font-size: 13px
    line-height: 29px
    text-decoration: none
    &.en
      &:before
        content: ""
    &:after
      absolute top -4px left -4px
      size 24px 24px
      box-shadow: 0 0 0 3px #fff
      opacity: 0
      padding: 7px
      transform: scale(0.8)
      transition: transform 0.2s ease 0s, opacity 0.2s ease 0s
      box-sizing: content-box
      border-radius: 50%
      content: ""
      pointer-events: none
    &:hover,
    &.active
      background-color rgba(255, 255, 255, 1)
      color: rgba(0, 0, 0, 0.5)
      text-decoration: none
      &:after
        opacity: 1
        transform: scale(1)
    &:hover:not(.active)
      background-color rgba(255, 255, 255, 0.75)
      cursor pointer
      &:after
        opacity: 0.15
