.sidebar
  color #AFB2B2
  background #383F3F url(../images/sidebar-bg.png)
  &-title
    position: relative
    line-height: 40px
    margin: 40px auto 30px
    font-size: 29px
    font-weight: lighter
    text-align center
    width 71%
    color #fff
    &:after,
    &:before
      absolute top -4px
      display block
      font-size 41px
    //&:before
    //  content: '['
    //  left 0
    //&:after
    //  content: ']'
    //  right 0

.channels
  &-item
    $selector = selector()
    display block
    &,
    &:hover
      color #afb2b2
      text-decoration none

    &:hover
      {$selector}--head
        background-color rgba(255,255,255,.07)
      {$selector}--description
        background-color rgba(255,255,255,.07)

    &--head
      transition background-color 0.3s ease 0s
      cursor: pointer
      height: 60px
      position: relative
      &-brand
        position: relative
        padding 22px 19% 0
        font-size 16px
        clear both
        &:after
          size 50px 50px
          absolute top 7px left 5%
          display: block
          content ' '
          background url(../images/svg/sector-2016.svg) no-repeat
          background-size 60px 60px
      &-label
        absolute right 11% bottom -9px
        color #fff
        display inline-block
        padding 0 11px
        border-radius 9px
        line-height 20px
        font-size 11px
        background-color #888
      &-name
        relative bottom -7px left 19.2%
        display: inline-block
        font-size 10px
        font-weight: 600
        padding 0 19px
        line-height 20px
        color #313737
        background-color #AFB2B2
        &:not(.no-transform)
          text-transform uppercase
        &:after,
        &:before
          size 0 0
          absolute top 0
          display block
          content ' '
        &:before
          left -13px
          border-bottom: 20px solid #AFB2B2
          border-left: 13px solid transparent
        &:after
          right -13px
          border-top: 20px solid #AFB2B2
          border-right: 13px solid transparent

    &--description
      transition background-color 0.3s ease 0s
      font-weight normal
      font-size 14px
      line-height 1.1
      padding 19px 15% 20px
      cursor pointer

    &.disabled
      opacity .4
      &,
      &:hover,
      .channels-item--head,
      .channels-item--description
        cursor default
      &:hover
        {$selector}--head
          background-color transparent
        {$selector}--description
          background-color transparent