<h5 class="sidebar-title">Каналы</h5>
<a href="/" class="channels-item">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Progressive</div>
  </div>
  <div class="channels-item--description">
    Днём &mdash; масса электронного, этнического и прогрессивного материала; звучит музыка к фантастическим фильмам.
    <br/>
    Ночью &mdash; полное погружение в обстановку космической станции.
  </div>
</a>
<a href="/space/" class="channels-item">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Space</div>
  </div>
  <div class="channels-item--description">
    Днём и ночью &mdash; отборнейшая музыка традиционных электронных направлений.
    <br/>
    Авторские передачи Михаила Эксалота, множество редкого материала в аудиофильском качестве.
  </div>
</a>
<a class="channels-item disabled">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">90s</div>
    <div class="channels-item--head-label">Скоро открытие!</div>
  </div>
  <div class="channels-item--description">
    Время девяностых стало одним из переломных в музыкальной индустрии, давшее миру новое звучание синтезаторов, новые жанры и новые ритмы.
    <br/>
    В эфире &mdash; отечестванная музыка и Западные хиты.
  </div>
</a>
<a class="channels-item disabled">
  <div class="channels-item--head">
    <div class="channels-item--head-brand">SECTOR</div>
    <div class="channels-item--head-name">Classical</div>
    <div class="channels-item--head-label">Скоро открытие!</div>
  </div>
  <div class="channels-item--description">
    Классика вечна сама по себе. Однако она имеет развитие в виде современного академизма.
    <br/>
    На канале &mdash; только лучшие творения в виртуозном исполнении от лучших дирижёров и коллективов.
  </div>
</a>