.player
  &__title,
  &__trackname
    margin 0 auto
    max-width 140px
  &__bitrate
    display inline-block
    &-element
      display: inline-block
    .colname
      text-align left
    &-wrapper
      display inline-block
      text-align center
    &-container
      display: table-cell
      font-size: 40px
      list-style: none
      padding: 0
      text-align: left;
      vertical-align: bottom
      height: 180px
      min-width: 178px
      max-width: 210px

    &-element
      padding-left: 30px

    &-active
      background: url(../images/svg/big_arrow.svg) no-repeat 0 12px
      font-weight: 600
      > a
        color: rgba(255, 255, 255, 1)
        cursor: default

    &-name
      color: rgba(0, 0, 0, 0.6)
      transition: color 0.2s ease 0s
      text-decoration: none

    .colname:last-child
        margin-top: 3px
