grid-columns      = 24
grid-gutter-width = 30px
screen-lg         = 1681
screen-sm         = 820
screen-md         = 960
screen-xs         = 320

$basefont = "Segoe UI Light", "Segoe UI", "pragmaticalightclight", sans-serif

$red        = #F26663
$red_light  = #F26663
$red_dark   = #E25754

$blue       = #48A7E5
$blue_light = #5a798d
$blue_dark  = #445f71

$orange     = #d79a3a
$orange_dark= #ca8c2b

$gray       = #383F3F

$green      = #88af83
$green_dark = #789e73

$pink      = #DA79CB
$pink_dark = #cb70bd

img
  max-width: 100%