// 1680 - 1900
@media screen and (min-width: 1681px)

  .container

    .header,
    .player,
    .menu__list,
    .tabs > .columns > .row:not(.actions-row),
    .footer .columns > .row
      width 1400px
      margin: auto
      float: none

    .tabs
      > .columns > .row:not(.actions-row)
        padding-left 40px
        padding-right 50px
      > .formats.columns > .row
        padding-left 55px
        padding-right 45px
      > .music.columns > .row
        padding-left 60px

    .menu__list .list-inline
      margin-left -0.5%

    .footer .columns > .row
      padding-left 63px
      padding-right 40px

    .logo
      &__sector-img
        margin-left 82px
      &__slogan
        width: 75%
        padding-left 75px
        &-about,
        &-describe
          font-size: 31px

    .player
      &__block
        margin-left: 0
        margin-right: 0
      &__volume
        padding 0 0 0 25px
        .colname
          margin-left: -5px

    .footer__cell
      &:first-child
        padding-left 0
      &:last-child
        padding-right 0
