.channel-90

  .st-content
    background-image url(../images/backgrounds/background_90.jpg)

  .player__volume-slider .equalizer__container-bg,
  .footer__link
    background-color $orange

  .formats,
  .tabs
    background-color $orange

  .equalizer:not(.player__volume-slider) .equalizer__container-element:not(.disabled)
    > a,
    > div
      background-color $orange

  .programs-block--custom-descr
    background-color $orange

  .programs
    background-color $orange
	
  .logo__slogan .black
    color $orange

  .formats-playlist
    background-color #525a5a
    color rgba(255,255,255,0.8)
    &:hover
      background-color #2d3333
      color #fff

  .preloader
    background-color $orange