.channel-90

  .st-content
    background-image url(../images/backgrounds/background_90.jpg)

  .player__volume-slider .equalizer__container-bg,
  .footer__link,
  .tabs,
  .programs-block--custom-descr,
  .programs,
  .channel__container-element-link.active,
  .preloader
    background-color $orange

  .formats
    background-color $orange_dark

  .equalizer:not(.player__volume-slider) .equalizer__container-element:not(.disabled)
    > a,
    > div
      background-color $orange
	
  .logo__slogan .black
    color $orange

  .round-link
    background-color #525a5a
    color rgba(255,255,255,0.8)
    &:hover
      background-color #2d3333
      color #fff
