.channel-main

  .st-content
    background-image url(../images/backgrounds/background_progressive.jpg)
    background-size contain

  .player__volume-slider .equalizer__container-bg,
  .footer__link
    background-color $red

  .formats,
  .tabs
    background-color $red_dark

  .equalizer:not(.player__volume-slider) .equalizer__container-element:not(.disabled)
    > a,
    > div
      background-color $red

  .programs-block--custom-descr
    background-color $red_dark

  .programs
    background-color $red_light

  .formats-playlist
    color rgba(255,255,255,0.8)
    &,
    &:hover
      background-color #404646
    &:hover
      color #fff
