.channel-main

  .st-content
    background-image url(../images/backgrounds/background-progressive.png)

  .player__volume-slider .equalizer__container-bg,
  .footer__link
    background-color $red

  .formats,
  .tabs
    background-color $red_dark

  .equalizer:not(.player__volume-slider) .equalizer__container-element:not(.disabled)
    > a,
    > div
      background-color $red

  .programs-block--custom-descr
    background-color $red_dark

  .programs,
  .formats-playlist
    background-color $red_light

  .formats-playlist:hover
    background-color #EF8A88

  .programs__row-active
    border-color #000