.channel-space

  .st-content
    background-image url(../images/backgrounds/background_space-2.jpg)

  .player__volume-slider .equalizer__container-bg,
  .footer__link
    background-color $blue

  .formats,
  .tabs
    background-color $blue_dark

  .equalizer:not(.player__volume-slider) .equalizer__container-element:not(.disabled)
    > a,
    > div
      background-color $blue

  .programs-block--custom-descr
    background-color $blue_dark

  .programs
    background-color $blue_light

  .round-link
    background-color $blue
    color rgba(255,255,255,0.8)
    &:hover
      color #fff

  .preloader
    background-color $blue